
input[type=text],input[type=number], textarea,input[type=file],select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;

  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;

  &::placeholder{
    color: rgba(183, 183, 186, 0.564);
  }
}
.dark label{
  color: black !important;
}
.dark .btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.light .btn {
  background-color: #1976d2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.dark .btn:hover {
  background-color: #45a049;
}
.light .btn:hover {
  background-color: #1669b6;
}
.container-form {
  
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  margin-inline: 25%;
  margin-block: 3%;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);

}

