/* =======================
    Background Image
==========================*/
div.top-img{
  position: relative;
 height: 100vh;

}
div.top-img img{

  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (width < 1000px) {
  div.top-img {
    background-position: left;
  }
}


/* =======================
    Text on Image
==========================*/

section.content {
  font-size: 2rem;
  position: absolute;

  top: 45%;
  transform: translateY(-50%);

  margin-left: 10%;

  & .lifestyle {
    text-transform: uppercase;
    font-size: 1.7rem;
  }

  & .men {
    margin-top: 0.7rem;
    font-weight: bold;
  }

  & .sale {
    margin-block: 0.5rem;
    font-weight: bold;
  }
  & .sale span {
    color: crimson;
    margin-left: 0.8rem;
  }

  & .free-shipping {
    font-size: 1.5rem;
  }

  & button {
    background-color: black;
    color: white;
    margin-top: 0.9rem;
    font-size: 0.9rem;
    border-radius: 3px;
    padding: 0.6rem 1.6rem;
  }
}




/* ===============================
    Main contents (products)
==================================*/
main h1.recommended {
  margin: 2.3rem 0 2rem 2%;

}


@media (width < 600px) {
  main h1.recommended {
    margin: 2.3rem 0 2rem 0;
    font-size: 1.4rem;
  }
}
main section.products.flex{
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem 1.4rem;}






.card:hover {
  rotate: 0.5deg;
  scale: 1.01;
  transition: 0.3s !important;
}